<h1>Time2Block pipe</h1>
<table border="1">
  <thead>
    <tr>
      <th>usage</th>
      <th>format</th>
      <th>result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td ngNonBindable>{{ getCurrentTimeInMinutes() | time2blocks | async }}</td>
      <td>B</td>
      <td>{{ getCurrentTimeInMinutes() | time2blocks | async }}</td>
    </tr>
    <tr>
      <td ngNonBindable>{{ getCurrentTimeInMinutes() | time2blocks : 'BB' | async }}</td>
      <td>BB</td>
      <td>{{ getCurrentTimeInMinutes() | time2blocks : 'BB' | async }}</td>
    </tr>
    <tr>
      <td ngNonBindable>{{ getCurrentTimeInMinutes() | time2blocks : 'h [halving], [block] b' | async }}</td>
      <td>h [halving], [block] b</td>
      <td>{{ getCurrentTimeInMinutes() | time2blocks : 'h [halving], [block] b' | async }}</td>
    </tr>
    <tr>
      <td ngNonBindable>{{ getCurrentTimeInMinutes() | time2blocks : 'H [halving], [block] bb' | async }}</td>
      <td>H [halving], [block] bb</td>
      <td>{{ getCurrentTimeInMinutes() | time2blocks : 'H [halving], [block] bb' | async }}</td>
    </tr>
    <tr>
      <td ngNonBindable>{{ getCurrentTimeInMinutes() | time2blocks : 'H, %' | async }}</td>
      <td>H, %</td>
      <td>{{ getCurrentTimeInMinutes() | time2blocks : 'H, %' | async }}</td>
    </tr>
    <tr>
      <td ngNonBindable>{{ getCurrentTimeInMinutes() | time2blocks : 'H, %%' | async }}</td>
      <td>H, %%</td>
      <td>{{ getCurrentTimeInMinutes() | time2blocks : 'H, %%' | async }}</td>
    </tr>
    <tr>
      <td ngNonBindable>{{ getCurrentTimeInMinutes() | time2blocks : 'H, %%%' | async }}</td>
      <td>H, %%%</td>
      <td>{{ getCurrentTimeInMinutes() | time2blocks : 'H, %%%' | async }}</td>
    </tr>
    <tr>
      <td ngNonBindable>{{ getCurrentTimeInMinutes() | time2blocks : 'H, %%%%' | async }}</td>
      <td>H, %%%%</td>
      <td>{{ getCurrentTimeInMinutes() | time2blocks : 'H, %%%%' | async }}</td>
    </tr>
    <tr>
      <td ngNonBindable>{{ getCurrentTimeInMinutes() | time2blocks : 'H (-%)' | async }}</td>
      <td>H (-%)</td>
      <td>{{ getCurrentTimeInMinutes() | time2blocks : 'H (-%)' | async }}</td>
    </tr>
    <tr>
      <td ngNonBindable>{{ getCurrentTimeInMinutes() | time2blocks : 'H (-%%)' | async }}</td>
      <td>H (-%%)</td>
      <td>{{ getCurrentTimeInMinutes() | time2blocks : 'H (-%%)' | async }}</td>
    </tr>
    <tr>
      <td ngNonBindable>{{ getCurrentTimeInMinutes() | time2blocks : 'H (-%%%)' | async }}</td>
      <td>H (-%%%)</td>
      <td>{{ getCurrentTimeInMinutes() | time2blocks : 'H (-%%%)' | async }}</td>
    </tr>
    <tr>
      <td ngNonBindable>{{ getCurrentTimeInMinutes() | time2blocks : 'H (-%%%%)' | async }}</td>
      <td>H (-%%%%)</td>
      <td>{{ getCurrentTimeInMinutes() | time2blocks : 'H (-%%%%)' | async }}</td>
    </tr>
  </tbody>
</table>
